.parameter {
  max-width: 300px;
}

.entry {
  margin-bottom: 9px;
}

.header {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 16px;
}

label {
  font-weight: bolder;
  display: inline-block;
  vertical-align: middle;
  color: #666666;
  margin-bottom: 3px;
}

select,
input,
[contenteditable] {
  width: 100%;
  font-size: 14px;
  padding: 3px 6px;
  border: 1px solid #cccccc;
}

select:focus,
input:focus,
[contenteditable]:focus {
  outline: none;
  border-color: #1a70ff;
  box-shadow: 0 0 0 2px #a2c5ff, 0 0 0 1px #cdcdcd inset;
}

[contenteditable] {
  outline: 0px solid transparent;
  background-color: #ffffff;
  overflow-y: auto;
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.auto-suggest-list {
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  border: solid 1px #c9c9c9;
  background-color: #ffffff;

  display: none;
}

.auto-suggest-list.visible {
  display: block;
}

.auto-suggest-list-item {
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.64;
  letter-spacing: normal;
  color: #000000;
}
.auto-suggest-list-item:hover {
  background: #a2c5ff;
}

[disabled] {
  color: #808080;
}
